.main{
   
    background: rgb(82, 68, 90) ;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top : -10px ;
    padding: 30px;

}
.welcome {
     
     height : min-content;
     background: rgb(11, 9, 12);
     color: white;
     border-radius: 5px;
     
}
.hello { 
    font-family: cursive;
    font-weight:bold;
    text-align: center;
     
}
.body {
     
    height : min-content;
    background: rgb(252, 252, 252);
    color: black;
    border-radius: 5px;
    
}
.image 
{
    height : 300px;
    width : 300px ;
    border-radius:  30px ;

}
form {
   
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: max-content;

}

.container {
    height: max-content !important;
    overflow: visible;
}
